
$font-size-base:              1.2rem;

$headings-font-family:        'DiamondsRegular';
$font-family-sans-serif:      'Lato', Roboto, Arial, sans-serif;
$font-family-base:            $font-family-sans-serif;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2.5;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$font-weight-light:           200;
$font-weight-normal:          300;
$font-weight-bold:            700;

$enable-shadows:            true;
$enable-gradients:          true;
$enable-rounded:            false;

a.deco-none {
    color: inherit !important;
    text-decoration:none;

    &:hover {
        text-decoration: none;
    }
}

.section-hero {
    padding: 80px 0;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background-clip: padding-box;
    background-attachment: fixed;
    background: url(../img/cover.jpg) center center no-repeat;
    background-image: linear-gradient(to bottom right,rgba(0, 47, 75, .6), rgba(220, 66, 37, .6)), url(../img/cover.jpg);
    background-size: cover;
    color: white;

    .avatar {
        border-radius: 100%;
        display: inline-block;
        margin: 0 0 2em 0;
        padding: 0.5em;
        border: solid 1px rgba(255, 255, 255, 0.25);
        background-color: rgba(255, 255, 255, 0.075);
    }

    .avatar img {
        border-radius: 100%;
        display: block;
        width: 15em;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .title {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 20px 50px;
    }

    h1 {
        font-family: 'LoveloLineLight', sans-serif;
    }
}

section {
    padding:100px 0;
}

.asarphib-line {
    width: 150px;
    height:2px;
    margin-bottom: 1rem;
}

.asarphib-line {
    background:linear-gradient(to right,#3987f4,#cd3178);
}

section#showcaseWeb {
    background:linear-gradient(to right,#00d8ad,#d2aaf9);
}

section#showcasePaper {
    background:linear-gradient(to right,#00d8ad,#d2aaf9);
}


@import "../node_modules/bootstrap/scss/bootstrap";


.big-margin-bottom {
    margin-bottom: 30vh !important;
}

@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
    font-weight: bold;
    background-image: linear-gradient(45deg, #f6d365 0%,#fda085 100%) !important;
    color: white !important;
    border-width: 0px;

    &:hover {
        box-shadow: $box-shadow;
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value, $value);
    }
}

@include media-breakpoint-down(sm) {
    .show-sm-down {
        display: block;
    }
    .show-md-up {
        display: none;
    }

    .card-overlay {
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .show-sm-down {
        display: none;
    }
    .show-md-up {
        position: relative;
        z-index: 1;
        display: block;
    }

    .card-overlay-right, .card-overlay-left {
        width: 50%;
        margin-top: -20%;
        position: relative;
        z-index: 2;
    }

    .card-overlay-right {
        margin-left: auto;
    }

    .card-overlay-left {
    }
}
