
@font-face {
    font-family: 'DiamondsRegular';
    src: url('../fonts/DiamondsRegular.woff') format('woff'), url('https://github.com/YvesZumbach/Portfolio/blob/master/fonts/DiamondsRegular.woff?raw=true') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'LoveloLineLight';
    src: url('../fonts/LoveloLineLight.woff') format('woff'), url('https://github.com/YvesZumbach/Portfolio/blob/master/fonts/LoveloLineLight.woff?raw=true') format('woff');
    font-weight: 200;
    font-style: italic;
}
