
@font-face {
    font-family: 'DiamondsRegular';
    src: url('../fonts/DiamondsRegular.woff') format('woff'), url('https://yveszumbach.github.io/Portfolio/fonts/DiamondsRegular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'LoveloLine';
    src: url('../fonts/LoveloLineLight.woff') format('woff'), url('https://yveszumbach.github.io/Portfolio/fonts/LoveloLineLight.woff') format('woff');
    font-weight: bold;
}
